<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.qumo.runner.agent.service</string>
    <key>BundleProgram</key>
    <string>Contents/Resources/QumoRunnerAgent</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>MachServices</key>
    <dict>
        <key>com.qumo.runner.agent.service</key>
        <true/>
    </dict>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardOutPath</key>
    <string>/tmp/com.qumo.runner.agent.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/com.qumo.runner.agent.stderr.log</string>
</dict>
</plist>
